body {
  font-family: Arial, sans-serif;
  background-color: #f0fff0;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #228B22;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  padding: 2em;
}